[pyrogram]
api_id = 1234567
api_hash = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
app_version = 1.0
device_model = PC
system_version = Windows

[plugins]
root = bookdl/telegram/plugins

[bot-configuration]
bot_token = 123456789:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
session = BookdlBot
dustbin = -100xxxxxxxxx
allowed_users = [123456789, 987654321]

[database]
db_host = xxxxxxxxxx.xxxxx.mongodb.net or whatever
db_username = username
db_password = password
db_name = BookdlBot
db_type = Mongo_Atlas (or Mongo_Community)

[convert]
convert_api = secretkey
